.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.contact-button {
    background-color: #f0f0f0;
    color: #333333;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid #333333;
    box-shadow: 2px 2px 0 0 #333333;
    height: 60px;
    width: 60px;
    margin: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-button:hover {
    background-color: #e0e0e0;
}

.contact-button-image {
    margin-top: 3px;
    width: 75%;
    border-radius: 2px;
}

.contact-text {
    color: #333333;
    font-size: 1rem;
    font-weight: 400;
    width: 900px;
    padding: 20px 50px;
    margin-top: 80px;
    font-family: 'Press Start 2P', cursive;
}
