html, body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: top;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    
}

.index-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.index-button {
    background-color: transparent;
    color: white;
    border-style: none;
    padding: 10px 30px;
    border-radius: 2px;
    transition-duration: 0.2s;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 10px;
}

.index-button:hover {
    background: rgba(109, 109, 109,0.2);
}

.index-title {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    font-family: 'Oswald', sans-serif;
}

.index-description {
    color: white;
    text-align: center;
    padding: 20px 100px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}
