.projects-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 10px 20px;
    text-decoration: none;
    color: #333333;
    font-family: 'Press Start 2P', cursive;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition-duration: 0.2s;
    text-decoration: none;
    color: #333333;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #333333;
    box-shadow: 2px 2px 0 0 #333333;
}

.project-container:hover {
    background-color: #e0e0e0;
}

.project-image {
    height: 220px;
    width: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
}

.project-description {
    padding: 0px 10px;
    flex: 1;
    font-family: 'Press Start 2P', cursive;
}

.project-description h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    text-decoration: none;
    color: #333333;
}

.project-description h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6rem;
    text-decoration: none;
    color: #333333;
    line-height: 1.8;
}
