html, body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    color: whitesmoke;
    background-position: top;
    font-family: 'Oswald', sans-serif;
    margin: 0;    
}

.projects-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 10px 20px;
    text-decoration: none;
    color: whitesmoke;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition-duration: 0.2s;
    text-decoration: none;
    color: whitesmoke;
}

.project-container:hover {
    background: rgba(109, 109, 109,0.8);
}

.project-image {
    height: 140px;
    width: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
}

.project-description {
    padding: 0px 10px;
    flex: 1;
}

.project-description h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}

.project-description h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
}
